$primary-color: #00bff0;

$secondary-color: #72d0f4;

main {
  background: white;
}

%flex-align {
  display: flex;
  align-items: center;
}

%flex-justify {
  display: flex;
  justify-content: space-between;
}

.article__blog {
  header {
    & {
      padding: 17px 23px;
    }
    h1 {
      font-size: 24px;
      font-weight: 600;
      color: $secondary-color;
      padding-bottom: 22px;
    }
    .article__icons {
      & {
        @extend %flex-justify;
      }
      a {
        & {
          @extend %flex-align;
          font-size: 12px;
          font-weight: 400;
          font-style: italic;
          color: $secondary-color;
        }
        &:last-child {
          padding-right: 60px;
        }
        i {
          font-size: 26px;
          padding-right: 15px;
        }
      }
      a:hover {
        opacity: .7;
      }
    }
  }
}

.article__img {
  img {
    width: 100%;
  }
}

.article__blog {
  p {
    padding: 36px 23px 126px 23px;
    color: #879393;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: .2px;
  }
}

.social-network__block {
  & {
    @extend %flex-justify;
    padding: 15px 13px;
    background: $secondary-color;
  }
  .social-network__block-social {
    & {
      @extend %flex-align;
    }
    span {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: .5px;
      color: #fff;
      text-transform: uppercase;
    }
    a {
      & {
        margin-left: 10px;
      }
      i {
        font-size: 22px;
        color: #fff;
      }
    }
  }
}

%border {
  border-radius: 5px;
}

.social-network__block-social {
  .facebook {
    @extend %border;
    padding: 9px 14px;
    background: #526da3;
  }
  .twitter {
    @extend %border;
    padding: 9px 9px;
    background: #6fb5d9;
  }
  .google {
    @extend %border;
    padding: 9px 7px;
    background: #e2534b;
  }
  .linkedin {
    @extend %border;
    padding: 9px 11px;
    background: #527aa3;
  }
}

.social-network__block-social {
  a:not(hover) {
    transition: .3s;
  }
}

.social-network__block-social {
  a:hover {
    transition: .3s;
    opacity: .7;
  }
}

.social-network__block-button {
  & {
    @extend %flex-align;
  }
  a {
    & {
      @extend %border;
      padding: 8px 13px;
      background: #fff;
      margin-left: 10px;
    }
    i {
      font-size: 24px;
      color: $secondary-color;
    }
  }
}

.social-network__block-button {
  a:first-child {
    margin: 0;
  }
}

.social-network__block-button {
  .active {
    background: #ccc;
    color: white;
  }
}

.social-network__block-button {
  a:not(hover) {
    & {
      transition: .3s;
    }
    .fas {
      transition: .3s;
    }
  }
}

.social-network__block-button {
  a:hover {
    & {
      background: #ccc;
      transition: .3s;
    }
    .fas {
      color: white;
      transition: .3s;
    }
  }
}

.main__block-comment {
  & {
    padding: 80px 23px;
  }
  p {
    font-size: 24px;
    font-weight: 400;
    color: $secondary-color;
    padding-bottom: 22px;
  }
  .main__comment {
    header {
      & {
        @extend %flex-justify;
        padding-bottom: 10px;
      }
      .main__comment-date {
        & {
          display: flex;
          align-items: flex-end;
        }
        b {
          font-size: 16px;
          font-weight: 700;
          color: $primary-color;
        }
        p {
          font-size: 12px;
          font-weight: 400;
          color: #7f8c8c;
          padding: 0 0 0 20px;
        }
      }
      a {
        & {
          font-size: 14px;
          font-weight: 400;
          color: $secondary-color;
          text-transform: uppercase;
          padding-right: 52px;
        }
        i {
          padding-right: 3px;
        }
      }
    }
  }
}

.main__comment {
  a:hover {
    opacity: .7;
  }
}

.main__comment {
  .main__comment-text {
    & {
      @extend %flex-justify;
      align-items: flex-start;
      padding-bottom: 18px;
    }
    i {
      @extend %border;
      font-size: 30px;
      padding: 20px;
      background: #7f8c8c;
      color: #fff;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      color: #879393;
      letter-spacing: 0;
      line-height: 22px;
      padding: 14px 0 14px 25px;
      background: #f8f8f8;
    }
  }
}

.main__comment:last-child {
  .article__comment-text {
    padding: 0
  }
}

.main__comment.comment-indent {
  padding-left: 18px;
}

@import 'form';

%text-h3 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  padding-bottom: 25px;
}

.nav__block-categories {
  & {
    padding: 16px 36px 23px 36px;
    background: $secondary-color;
    margin-bottom: 29px;
  }
  h3 {
    @extend %text-h3;
  }

  ul {
    & {
      list-style: none;
      padding-left: 11px;
    }

    li::before {
      content: "\279C";
      color: $secondary-color;
      font-size: 12px;
      font-weight: bold;
      background: white;
      border-radius: 15px;
      padding: 0 3px;
    }
  }
}

.nav__block-categories {
  a {
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    line-height: 30px;
    padding-left: 15px;
  }
}

.nav__block-categories {
  li:hover {
    opacity: .7;
  }
}

%border-bottom {
  border-bottom: 1px solid white;
}

.section__block-post {
  & {
    background: $primary-color;
    padding: 16px 63px 39px 36px;
    margin-bottom: 30px;
  }
  h3 {
    @extend %text-h3;
  }
  .section__block-post-data {
    & {
      position: relative;
      padding: 10px 0;
      @extend %border-bottom;
    }
    a {
      display: block;
      font-size: 14px;
      font-weight: 400;
      color: white;
      padding-left: 30px;
      line-height: 21px;
    }
    a:hover {
      opacity: .7;
    }
    span {
      font-size: 12px;
      font-weight: 600;
      color: #5d5d5d;
      padding-left: 30px;
    }
  }
}

.section__block-post-data {
  a::before {
    content: "\27A4";
    position: absolute;
    left: 9px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    width: 20px;
  }
}

.section__block-week {
  & {
    background: #a5d8eb;
    padding: 26px 22px 31px 28px;
    margin-bottom: 41px;
  }
  .section__block-week-text {
    & {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      padding-bottom: 6px;
    }
    h2 {
      font-size: 20px;
      font-weight: 300;
      transform: scaleY(1.5);
      letter-spacing: 1px;
    }
    b {
      font-size: 28px;
      font-weight: 600;
      padding-left: 5px;
      letter-spacing: .5px;
    }
  }
  .section__block-day {
    & {
      @extend %flex-justify;
      @extend %border-bottom;
      color: white;
      padding: 13px 0;
    }
    .section__block-day-calendar {
      i {
        font-size: 14px;
      }
      span {
        font-size: 14px;
        font-weight: 600;
        padding-left: 5px;
      }
    }
    p {
      font-size: 14px;
      font-weight: 600;
    }
  }
}

.section__block-week > p {
  padding-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: white;
  text-align: center;
}

.section__block-week > span {
  display: block;
  padding-top: 14px;
  font-size: 30px;
  font-weight: 600;
  font-style: italic;
  color: white;
  text-align: center;
}

@import 'slider';

%flex-justify-center {
  display: flex;
  justify-content: center;
}

.aside__info-block {
  & {
    padding: 45px 0;
  }
  .aside__info-block_text {
    & {
      @extend %flex-justify-center;
      padding-bottom: 26px;
    }
    p, em {
      font-size: 20px;
      font-weight: 300;
      letter-spacing: .8px;
      color: $secondary-color;
      text-transform: uppercase;
      transform: scaleY(1.5);
    }
    em {
      font-style: italic;
      padding-left: 10px;
    }
  }
  .aside__info-block_text-info {
    & {
      background: $primary-color;
      padding: 57px 35px 29px 38px;
    }
    h2 {
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      color: white;
      padding-bottom: 15px;
      text-align: center;
    }
    p {
      width: 80%;
      margin: 0 auto;
      font-size: 16px;
      font-weight: 300;
      color: white;
      line-height: 24px;
      text-align: center;
    }
    .aside__info-block_button {
      & {
        @extend %flex-justify-center;
        padding-top: 21px;
        width: 100%;
      }
      a {
        display: block;
        font-size: 14px;
        font-weight: 400;
        color: white;
        border: 1px solid white;
        padding: 11px 24px;
        text-align: center;
      }
      a:hover {
        opacity: .7;
      }
    }
  }
}

.aside__block-elements {
  & {
    padding: 0 27px 42px 27px;
    background: inherit;
  }
  h3 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: $secondary-color;
    padding-bottom: 24px;
    padding-left: 9px;
  }
  a {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    background: $secondary-color;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 11px 10px;
  }
  a:hover {
    opacity: .7;
  }
}

.nav__block-year {
  & {
    padding: 22px 36px 27px 36px;
    background: #e6e6e6;
  }
  h3 {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: $secondary-color;
    padding-bottom: 15px;
  }
  ul {
    & {
      list-style: none;
      padding-left: 11px;
    }

    li::before {
      content: "\279C";
      background: $primary-color;
      font-size: 12px;
      font-weight: bold;
      color: white;
      border-radius: 15px;
      padding: 0 3px;
    }
  }
}

.nav__block-year {
  a {
    font-size: 14px;
    font-weight: 600;
    color: $secondary-color;
    text-transform: uppercase;
    line-height: 30px;
    padding-left: 15px;
  }
}

.nav__block-year {
  li:hover {
    opacity: .7;
  }
}

.aside__block-partner {
  & {
    padding-top: 64px;
    background: inherit;
  }
  p {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: .5px;
    color: #72d0f4;
    text-transform: uppercase;
    transform: scaleY(1.5);
    text-align: center;
    padding-bottom: 10px;
  }
  .aside__block-partner_img {
    & {
      margin: 0 auto;
      text-align: center;
      width: 90%;
    }
    img {
      vertical-align: middle;
      padding: 40px 13px 12px 12px;
    }
  }
}