$primary-color: #00bff0;

$secondary-color: #72d0f4;

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 100%;
}

.footer__background {
  background: $secondary-color;
  padding-top: 46px;
}

%footer-text {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding-top: 8px;
  text-transform: uppercase;
}

.footer__news {
  & {
    padding: 0 0 61px 15px;
  }
  p {
    @extend %footer-text;
    padding-bottom: 28px;
  }
  b {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    line-height: 18px;
  }
}

.footer__mail {
  & {
    position: relative;
    padding-top: 14px;
  }
  label {
    input {
      width: 100%;
      height: 38px;
      padding: 2px 23px 0 23px;
      margin-bottom: 15px;
      font-size: 12px;
      font-weight: 400;
      color: white;
      text-transform: none;
      background: #b9e8fa;
      border: 1px solid $primary-color;
      outline: none;
    }
    input::placeholder {
      color: $primary-color;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 400;
    }
  }
  button {
    & {
      cursor: pointer;
      width: 213px;
      height: 36px;
      background: #e25050;
      border: none;
      font-size: 12px;
      font-weight: 400;
      color: white;
      letter-spacing: .9px;
      text-transform: uppercase;
      outline: none;
    }
    i {
      font-size: 14px;
      padding-left: 62px;
    }
  }
  button:hover {
    opacity: .7;
    transition: .3s;
  }
  button:not(hover) {
    transition: .3s;
  }
}

#commentFormMail {
  label {
    #cmail-error.error {
      position: absolute;
      left: 0;
      top: 51px;
      line-height: 15px;
      color: red;
      font-size: 12px;
      font-weight: 400;
      padding: 0;
    }
  }
}

%footer-text-p {
  font-size: 12px;
  font-weight: 400;
  color: white;
}

.footer__contact {
  & {
    padding-bottom: 40px;
  }
  .footer__logo {
    text-align: center;
    padding-bottom: 16px;
  }
   p {
     @extend %footer-text-p;
     line-height: 24px;
     padding: 0 0 21px 13px;
   }
  .footer__contact-phone {
    & {
      display: flex;
      align-items: center;
    }
    p {
      padding-bottom: 0;
    }
    a {
      font-size: 20px;
      font-weight: 700;
      font-style: italic;
      color: white;
      padding-left: 23px;
    }
    a:hover {
      opacity: .7;
    }
  }
}

.footer__contact > .footer__contact-phone:last-child {
  padding-top: 6px;
}


.footer__menu {
  & {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
  }
  .footer__menu-block {
    p {
      @extend %footer-text;
      padding-bottom: 25px;
    }
    ul {
      & {
        list-style: none;
        padding-left: 7px;
      }
      li {
        a {
          @extend %footer-text-p;
          line-height: 23px;
          padding-left: 7px;
        }
      }
      li:before {
        content: "\27A4";
        left: 9px;
        color: white;
        font-size: 12px;
      }
    }
  }
}

.footer__menu .footer__menu-block:first-child {
  padding-left: 32px;
}

.footer__menu .footer__menu-block:last-child {
  padding-right: 28px;
}

.footer__menu-block li:hover {
  opacity: .7;
}

.footer__background-social {
  & {
    background: $primary-color;
    padding: 20px 0;
  }
  p {
    @extend %footer-text-p;
  }
  .footer__social {
    a {
      & {
        padding-left: 15px;
        color: white;
      }

      i {
        font-size: 14px;
      }
    }
    a:hover {
      opacity: .7;
    }
  }
}

.footer__social {
  a:first-child {
    padding: 0;
  }
}