$primary-color: #00bff0;

$secondary-color: #72d0f4;

.main__form {
  & {
    padding: 7px 22px 31px 22px;
  }
  p {
    font-size: 24px;
    font-weight: 400;
    color: $secondary-color;
    padding-bottom: 17px;
  }
  label {
    & {
      display: flex;
      align-items: start;
      position: relative;
      padding-bottom: 20px;
      font-size: 18px;
      font-weight: 400;
      line-height: 38px;
      color: $secondary-color;
    }
    input {
      height: 41px;
    }
    textarea, input {
      width: 63%;
      background: $secondary-color;
      border: 1px solid $primary-color;
      margin-right: 45px;
      outline: none;
      padding: 0 10px;
      color: white;
      font-size: 16px;
      font-weight: 400;
      font-style: italic;
    }
    textarea {
      resize: none;
    }
  }
  .main__form-button {
    cursor: pointer;
    width: 200px;
    height: 60px;
    background: red;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
    letter-spacing: .9px;
    text-transform: uppercase;
    outline: none;
  }
}

label[for="ccomment"] {
  padding-bottom: 15px;
}

%form-focus {
  border: 1px solid #005cbf;
  outline: none;
}

.main__form {
  label {
    input:focus {
      @extend %form-focus;
    }
  }
}

.main__form {
  label {
    textarea:focus {
      @extend %form-focus;
    }
  }
}

.main__form {
  .main__form-button:not(hover) {
    transition: .3s;
  }
}

.main__form {
  .main__form-button:hover {
    transition: .3s;
    opacity: .7;
  }
}

%label-error {
  position: absolute;
  line-height: 15px;
  color: red;
  font-size: 12px;
  font-weight: 400;
  padding: 0;
}

#commentForm {
  label {
    #cname-error.error {
      @extend %label-error;
      bottom: 5px;
    }
  }
}

#commentForm {
  label {
    #cemail-error.error {
      @extend %label-error;
      bottom: 5px;
    }
  }
}

#commentForm {
  label {
    #curl-error.error {
      @extend %label-error;
      bottom: 5px;
    }
  }
}

#commentForm {
  label {
    #ccomment-error.error {
      @extend %label-error;
      bottom: 1px;
    }
  }
}