@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400i|Montserrat|Open+Sans:300,300i,400,400i,600,600i,700');

$primary-color: #00bff0;

$secondary-color: #72d0f4;

@media (min-width: 1200px) {
  .container {
    max-width: 1199px;
  }
}

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  min-width: 360px;
  position: relative;
  min-height: 100%;
}

a {
  text-decoration: none;
}

header {
  .header__social-networks {
    padding: 12px 0;
    background: $primary-color;
  }
}

.header__phone {
    padding-left: 17px;
    color: white;
  i {
    font-size: 14px;
  }
  span {
    font-size: 12px;
    font-weight: 400;
  }
}

.header__phone:hover {
  opacity: .7;
}

.header__social {
  a {
    padding-left: 14px;
    color: white;
    i {
      font-size: 14px;
    }
  }
  a:hover {
    opacity: .7;
  }
}

.header__social {
  a:first-child {
    padding: 0;
  }
}

header {
  .header__menu-logo {
    padding: 32px 0;
    background: $secondary-color;
  }
}

.header__menu {
  & {
    margin-right: 34px;
    text-align: end;
  }

  ul {
    & {
      list-style: none;
    }

    li {
      & {
        display: inline-block;
        padding: 10px 7px 9px 7px;
      }

      a {
        font-size: 13px;
        font-weight: 600;
        color: #fff;
        padding: 10px 21px 9px 21px;
        letter-spacing: .3px;
        text-transform: uppercase;
        border: 1px solid transparent;
      }
    }
  }
}

.header__menu {
  .active {
    border: 1px solid white;
  }
}

.header__menu {
  a:not(hover) {
    transition: .3s;
  }
}

.header__menu {
  a:hover {
    transition: .3s;
    border: 1px solid white;
  }
}

.header__title {
  position: relative;
  height: 310px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 10px solid $primary-color;
}

.title__block {
  & {
    position: absolute;
    top: 250px;
    left: 0;
    max-width: 445px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 40px;
    color: white;
    background: $primary-color;
  }
  span {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  p {
    font-size: 12px;
    font-weight: 300;
  }
}

.title__block {
  p:last-child {
    width: calc(100% - 144px);
  }
}

.indent {
  padding: 84px 0 30px 0;
  background: #f3f3f3;
}