@media screen and (max-width: 991px) {
  .header__menu {
    margin-right: 15px
  }
  aside {
    padding-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .header__menu {
    display: none;
  }
  .menu-bg, .menu-burger {
    display: block;
  }
  .header__logo {
    margin-left: 12px;
  }
  .article__blog {
    header {
      .article__icons {
        a:last-child {
          padding-right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .header__phone {
    padding-left: 0;
  }
  .article__blog {
    header {
      .article__icons {
        a {
          i {
            padding-right: 3px;
          }
        }
      }
    }
  }
  .social-network__block {
    .social-network__block-social {
      span {
        font-weight: 400;
        letter-spacing: 0;
      }
    }
  }
  .social-network__block {
    .social-network__block-social {
      a {
        margin-left: 5px;
      }
    }
  }
  .social-network__block-button {
    a {
      margin-left: 5px;
    }
  }
  .social-network__block-button {
    a:first-child{
      margin-left: 5px;
    }
  }
  .article__blog {
    header {
      .article__icons {
        a {
          padding-left: 10px;
        }
      }
    }
  }
  .article__blog {
    header {
      .article__icons {
        a:first-child {
          padding-left: 0;
        }
      }
    }
  }
  .main__block-comment {
    .main__comment {
      header {
        a {
          padding-right: 0;
        }
      }
    }
  }
  %form {
    margin-right: 20px;
  }
  .main__form {
    label {
      input{
        @extend %form;
      }
    }
  }
  .main__form {
    label {
      textarea{
        @extend %form;
      }
    }
  }
}
