$primary-color: #00bff0;

$secondary-color: #72d0f4;

%slider-text {
  color: $secondary-color;
  text-transform: uppercase;
  text-align: center;
}

.slider__people {
  & {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 35px 35px 30px 35px;
  }
  .slider__people-face {
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    background: $primary-color;
    border-radius: 40px;
  }
  .slider__people-face_name {
    @extend %slider-text;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    padding-top: 8px;
    padding-bottom: 3px;
  }
  .slider__people-face_work {
    @extend %slider-text;
    display: block;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 8px;
  }
  a:hover {
    opacity: .7;
  }
  span {
    display: block;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    font-style: italic;
    color: #333;
    line-height: 14px;
    padding-bottom: 14px;
  }
  .slider__people-social {
    & {
      display: flex;
      justify-content: space-between;
    }
  }
}

.slider__people {
  .slider__people-one {
    & {
      padding-right: 14px;
    }
    .people-social__like {
      .active {
        color: red;
      }
    }
  }
}

.slider__people {
  .slider__people-two {
    & {
      padding-left: 18px;
      border-left: 1px solid #a9ddf1;
    }
    .people-social__like {
      .active {
        color: $primary-color;
      }
    }
  }
}

.slider__people-social {
  i{
    font-size: 16px;
  }
}

.slider__people-social {
  .people-social__like {
    a {
      color: #b8b8b8;
    }
    a:last-child {
      padding-left: 6px;
    }
  }
  .people-social__social {
    a {
      color: $secondary-color;
    }
    a:last-child {
      padding-left: 6px;
    }
  }
}

.slider__people-social {
  a:hover {
    opacity: .7;
  }
}

.lSAction > .lSPrev {
  left: 1px;
}

.lSAction > .lSNext {
  right: 1px;
}

.lSAction > a {
  height: 45px;
  width: 30px;
  top: 47%;
}