.menu, .menu-bg, .menu-burger {
  display: none;
  position: absolute;
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  border-radius: 100%;
  right: 25px;
  top: 3px;
  z-index: 2; }

.menu-bg {
  background: #00bff0;
  pointer-events: none;
  transition: .3s;
  right: 50px;
  top: 18px;
  transform: translate3d(50%, -50%, 0);
  transform-origin: center center; }
  .menu-bg.fs {
    transform: translate3d(50%, -50%, 0);
    width: 300vw;
    height: 300vw; }

.menu-burger {
  color: white;
  -webkit-user-select: none;
  cursor: pointer;
  transition: .4s;
  transform-origin: center;
  z-index: 2; }
  .menu-burger.fs {
    transform: rotate(-180deg) translateY(10px); }

.menu-items {
  position: absolute;
  right: 38px;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 2px;
  color: white;
  width: 100%;
  text-align: end;
  opacity: 0;
  transition: .4s;
  margin-top: 50px;
  transform: translateY(-200%);
  pointer-events: none; }
  .menu-items li {
    transition: 1s;
    opacity: 0;
    margin-top: 0; }
  .menu-items.fs {
    transform: translateY(0);
    pointer-events: auto;
    opacity: 1;
    z-index: 2; }
    .menu-items.fs li {
      opacity: 1;
      margin-top: 20px; }

.menu-items a:hover {
  color: #c0f2ff; }

.menu-items a {
  color: white; }
